<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :due %>
    <%= form.date_select :due, id: :todo_due %>
  </div>

  <div class="field">
    <%= form.label :task %>
    <%= form.text_field :task, id: :todo_task %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :todo_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
